@use '../../global.scss' as mixins;
:root{
    --navHeight: 12.5vh;
}
nav{
    width: 100vw;
    height: var(--navHeight);
    background-color: lightgray;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    transition: 1s;
    &>img{
        width: 5rem;
    }
    & #navLinks{
        display: flex;
        align-items: center;
        justify-content: center;
        & #navLogIn, #navSignUp{
            font-size: 2rem;
            color: black;
            text-decoration: none;
            &:hover{
                color: blue;
                cursor: pointer;
            }
        }
        & #navLogIn{
            margin-right: 1rem;
        }
    }
    &.hidden{
        opacity: 0;
        visibility: hidden;
    }
}
#navButton{
    position: fixed;
    z-index: 101;
    top: var(--navHeight);
    justify-self: center;
    transition: 1s;
    &>button{
        @include mixins.button-black;
        margin-left: calc(50vw - 1rem);
    }
}