@use "../../global.scss";
main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & form {
        margin: 5rem;
        background-color: lightgray;
        padding: 2rem;
        border-radius: 2rem;
    }
}