@use '../../global.scss' as mixins;

#view-theory{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    & header{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    & main{
        width: 80vw;
        min-height: 80vh;
        box-sizing: border-box;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 8px 8px 0 black;
        @include mixins.centralizeColumm;
        & .theory-content{
            width: 100%;
            box-sizing: border-box;
            text-align: justify;
            min-height: 64vh;
            padding: 2rem 5rem;
        }
        & button{
            @include mixins.beatfulButton;
            background-color: lightgray;
            padding: 1rem;
            &:hover{
                box-shadow: 0 0 10px 5px blue;
            }
        }
    }
}