@use '../../global.scss' as mixins;

#view-theory{
    & header{
        width: 100%;
        box-sizing: border-box;
    }
    & main{
        width: 100%;
        min-height: 80vh;
        box-sizing: border-box;
        padding: 3rem;
        background-color: lightgray;
        @include mixins.centralizeColumm;
        & .theory-content{
            background-color: white;
            width: 100%;
            min-height: 0.8*80vh;
        }
        & button{

        }
    }
}