@import '../../global.scss';
#signin{
    main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & form {
        @include floatMenu;
        }
    }  
}
