.side-levels{
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &>div, >p{
        font-size: 2.5rem;
        text-decoration: none;
        margin: 0;
        & a{ /* Link */
            text-decoration: none;
            color: black;
            &:hover{
                color: orange;
            }
        }
    }
}