@import "../../global.scss";
$mainHeight: 80vh;
#theory-editor{
    header{
        display: flex;
        justify-content: space-between;
    }
    main{
        margin: 3rem;
        background-color: lightgray;
        padding: 1rem;
        height: $mainHeight;
        border-radius: 1rem;
        & .ProseMirror { /* EditorContent */
            background-color: white;
            min-height: $mainHeight*0.8;
            //@include centralizeColumm;
            & p{
                border: none;
                height: auto;
            }
        }
    }
}