@import "../../global.scss";
$mainHeight: 80vh;
#theory-editor{
    header{
        display: flex;
        justify-content: space-between;
        p{
            color: blue;
        }
        background-color: lightgray;
        box-shadow: 0 0 12px 2px black;
    }
    main{
        margin: 3rem;
        background-color: lightgray;
        padding: 1rem;
        height: $mainHeight;
        border-radius: 1rem;
        box-shadow: 0 0 12px 2px black;
        >button{
            @include gray-button;
            &:last-child{
                margin-left: 1rem;
            }
        }
        .toolbar{
            display: flex;
            gap: 1rem;
            button{
                @include gray-button;
            }
        }
        & .ProseMirror { /* EditorContent */
            background-color: white;
            min-height: $mainHeight*0.8;
            //@include centralizeColumm;
            & p{
                border: none;
                height: auto;
            }
        }
    }
}